// reset
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Rubik', sans-serif;
}
// basic setting
html {
  scroll-behavior: smooth;
}
$main-yellow: #f3a133;
$body-color: #18253d;
$white: #fff;
$dark-gray: #2e2f33;
$light-gray: #343539;

//電腦
// navbar
.navbar {
  position: absolute;
  background-color: $main-yellow;
  padding: 0.75rem 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  right: 3rem;
  border-radius: 50px;
  .navitem__container {
    width: 35px;
    height: 35px;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    .icon {
      width: 100%;
      height: 100%;
    }
  }
}

// homepage
.homepage {
  height: 100vh;
  width: 100%;
  max-height: -webkit-fill-available;
  background-color: $dark-gray;
  background-image: url(./image/homepage_background.svg);
  background-size: cover;
  position: relative;
  .title__container {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    .homepage__title__1 {
      color: $white;
      font-size: 72px;
      font-weight: 500;
    }
    .homepage__title__2 {
      color: $white;
      font-size: 48px;
    }
  }
  .homepage__button__container {
    height: 20%;
    display: flex;
    align-items: center;
    padding: 5rem;
    .button__more {
      font-size: 28px;
      padding: 0.5rem 1rem;
      border: 5px solid $main-yellow;
      background-color: $dark-gray;
      color: $main-yellow;
      &:hover {
        background-color: $main-yellow;
        color: $white;
        cursor: pointer;
      }
    }
  }
}

// about page
.about {
  height: 100vh;
  width: 100%;
  max-height: -webkit-fill-available;
  background-color: $light-gray;
  position: relative;
  background-image: url(./image/about_background.svg);
  background-size: cover;
  .about__title__container {
    display: flex;
    align-items: center;
    height: 25%;
    .about__title {
      font-size: 62px;
      color: $white;
      text-align: center;
      padding: 1rem;
      width: 65%;
      margin: 0 auto;
      border: 1px solid $white;
      letter-spacing: 1rem;
    }
  }
  .about__content {
    width: 80%;
    height: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .about__left__side {
      width: 40%;
      height: 90%;
      background-color: rgba(46, 47, 51, 0.5);
      margin-right: 1rem;
      .photo__container {
        width: 100%;
        height: 50%;
        .photo {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .info__container {
        font-size: 18px;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $white;
        .info {
          margin: auto 0;
          margin: 0;
          padding: 0.5rem 1rem;
          font-size: 17px;
        }
      }
    }
    .about__right__side {
      width: 40%;
      height: 90%;
      background-color: rgba(46, 47, 51, 0.5);
      .skill__title {
        font-size: 24px;
        font-weight: 500;
        height: 13%;
        padding: 1rem;
        text-align: center;
        margin: 0 1.5rem;
        border-bottom: 3px solid $main-yellow;
        color: $white;
      }
      .skill__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 87%;
        .skill__subtitle {
          font-size: 20px;
          color: $main-yellow;
          padding: 1rem 1.5rem;
          font-weight: 500;
        }
        .frontend__skills {
          margin-bottom: 2rem;
        }
        .skills {
          font-size: 20px;
          color: $white;
          padding: 0 1.5rem;
        }
      }
    }
  }
}
// side project page
.side__project {
  height: 100vh;
  width: 100%;
  max-height: -webkit-fill-available;
  background-color: $dark-gray;
  position: relative;
  background-image: url(./image/side_project_background.svg);
  background-size: cover;
  .side__project__title__container {
    height: 25%;
    display: flex;
    align-items: center;
    .side__project__title {
      font-size: 62px;
      color: $white;
      text-align: center;
      padding: 1rem;
      width: 65%;
      margin: 0 auto;
      border: 1px solid $white;
      letter-spacing: 1rem;
    }
  }
  .side__project__content {
    width: 80%;
    height: 75%;
    margin: 0 auto;
    display: flex;
    height: 65%;
    justify-content: center;
    align-items: center;
    .side__project__left__side {
      width: 40%;
      height: 90%;
      margin-right: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .tools__left {
        display: none;
      }

      .side__project__info__title {
        color: $white;
        font-size: 22px;
        margin-bottom: 1rem;
        text-align: center;
      }
      .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
      }
      .embed-container iframe,
      .embed-container object,
      .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .side__project__right__side {
      width: 40%;
      height: 90%;
      display: flex;
      align-items: center;
      .side__project__info__container {
        padding: 1.5rem;
        background-color: rgba(46, 47, 51, 0.3);
        .side__project__link {
          color: #f3a133;
          font-size: 1.1rem;
          cursor: pointer;
        }
        .side__project__dot {
          color: #fff;
        }
        .tools__right {
          margin-top: 1rem;
        }
        .right__side__title {
          font-size: 22px;
          margin-bottom: 0.5rem;
          color: $white;
          &:not(:first-child) {
            margin-top: 1.5rem;
          }
        }
        .side__project__info {
          color: $white;
          font-weight: 300;
          font-size: 18px;
          line-height: 24px;
          .notion__url {
            color: #f3a133;
          }
        }
      }
    }
  }
}

// 平板 RWD
@media screen and (max-width: 1005px) {
  // navbar
  .navbar {
    right: 2rem;
    .navitem__container {
      width: 28px;
      height: 28px;
    }
  }
  // about page
  .about {
    .about__title__container {
      height: 20%;
      .about__title {
        font-size: 32px;
        width: 75%;
      }
    }
    .about__content {
      width: 75%;
      height: 75%;
      flex-direction: row;
      .about__left__side {
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 51, 0.7);
        margin-bottom: 1.5rem;
        margin-right: 1rem;
      }
      .about__right__side {
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 51, 0.7);
        .skill__container {
          padding: 0rem;
          .frontend__skills {
            margin-bottom: 2rem;
          }
          .skills {
            font-size: 18px;
          }
        }
      }
    }
  }
  // side project page
  .side__project {
    .side__project__title__container {
      height: 20%;
      .side__project__title {
        font-size: 32px;
        width: 75%;
      }
    }
    .side__project__content {
      width: 75%;
      height: 75%;
      flex-direction: row;
      .side__project__left__side {
        width: 100%;
        height: 90%;
        margin-right: 0;
      }
      .side__project__right__side {
        width: 100%;
        height: 90%;
        .side__project__info__container {
          .side__project__info {
            font-size: 16px;
          }
        }
      }
    }
  }
}

// 中間區塊 RWD
@media screen and (max-width: 767px) {
  // navbar
  .navbar {
    right: 1rem;
    .navitem__container {
      width: 22px;
      height: 22px;
      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }
  }

  // homepage
  .homepage {
    .title__container {
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0rem;
      transform: translateY(10%);
      .homepage__title__1 {
        font-size: 32px;
        margin-bottom: 1rem;
      }
      .homepage__title__2 {
        font-size: 20px;
      }
    }
    .homepage__button__container {
      height: 20%;
      display: flex;
      align-items: flex-start;
      padding: 0rem;

      justify-content: center;
      .button__more {
        font-size: 20px;
      }
    }
  }

  // about page
  .about {
    .about__title__container {
      height: 25%;
      .about__title {
        font-size: 18px;
        letter-spacing: 0.3rem;
        width: 75%;
      }
    }
    .about__content {
      flex-direction: row;
      width: 75%;
      height: 70%;
      .about__left__side {
        height: 100%;
        .info__container {
          .info {
            padding: 0;
            font-size: 13px;
          }
        }
      }
      .about__right__side {
        padding: 1rem 0rem;
        height: 100%;
        .skill__title {
          font-size: 15px;
          height: 15%;
          padding: 0.5rem;
        }
        .skill__container {
          height: 85%;
          padding: 0rem 1rem;
          .skill__subtitle {
            font-size: 15px;
            padding: 0.5rem;
            font-weight: 500;
            text-align: center;
          }
          .frontend__skills {
            margin-bottom: 0.5rem;
          }
          .skills {
            font-size: 14px;
            color: $white;
            padding: 0rem;
            text-align: center;
          }
        }
      }
    }
  }
  // side project page
  .side__project {
    .side__project__title__container {
      height: 25%;
      .side__project__title {
        width: 75%;
        font-size: 18px;
        letter-spacing: 0.3rem;
      }
    }
    .side__project__content {
      width: 75%;
      height: 75%;
      padding: 0;
      margin-top: -1rem;
      flex-direction: row;
      .side__project__left__side {
        margin-bottom: 0;
        margin-right: 1rem;
        .tools__left {
          display: block;
          padding: 1rem 0 1rem 1rem;
          margin-top: -0.5rem;
          .right__side__title {
            font-size: 15px;
            margin-bottom: 0.3rem;
            color: $white;
            &:not(:first-child) {
              margin-top: 1.5rem;
            }
          }
          .side__project__info {
            color: $white;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            .notion__url {
              color: #f3a133;
            }
          }
        }
        .side__project__info__title {
          font-size: 13px;
          margin-top: 1.5rem;
          margin-bottom: 0.3rem;
        }
      }
      .side__project__right__side {
        .side__project__info__container {
          width: 100%;
          padding: 1rem;
          background-color: rgba(46, 47, 51, 0.3);
          .tools__right {
            display: none;
          }
          .right__side__title {
            font-size: 15px;
            margin-bottom: 0.5rem;
            color: $white;
            &:not(:first-child) {
              margin-top: 0.75rem;
            }
          }
          .side__project__info {
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
    }
  }
}

// 手機直向 RWD
@media screen and (max-width: 539px) {
  // homepage
  .homepage {
    .homepage__button__container {
      height: 20%;
      display: flex;
      align-items: center;
      padding: 0rem;
      justify-content: center;
      .button__more {
        font-size: 20px;
      }
    }
  }

  // about page
  .about {
    .about__title__container {
      height: 20%;
      .about__title {
        width: 65%;
      }
    }
    .about__content {
      flex-direction: column;
      width: 65%;
    }
  }
  // side project page
  .side__project {
    .side__project__title__container {
      height: 20%;
      .side__project__title {
        width: 65%;
      }
    }
    .side__project__content {
      width: 65%;
      flex-direction: column;
      .side__project__left__side {
        margin-bottom: 1rem;
        margin-right: 0;
        .tools__left {
          display: none;
        }
        .side__project__info__title {
          margin: 0;
          font-size: 15px;
          padding: 1rem;
        }
      }
      .side__project__right__side {
        padding: 0;
        .side__project__info__container {
          padding: 0;
          .tools__right {
            display: block;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}
